@tailwind base;
@tailwind components;
@tailwind utilities;

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: var(--font-size-body) !important;
  padding: 0 !important;
}

.graphiql-explorer-root > :last-child {
  display: none !important;
}

.graphiql-explorer-root > :first-child {
  overflow: visible !important;
}

.graphiql-operation-title-bar {
  display: none;
}

.docExplorerWrap {
  overflow: unset !important;
}

[class^="graphiql-explorer-"] > span {
  display: flex;
  align-items: center;
}

.graphiql-explorer-graphql-arguments > div  {
  display: flex;
  align-items: center; 
}

.graphiql-explorer-graphql-arguments > div > div >div {
  display: flex;
  align-items: center; 
}